.rank-label {
    position: relative;
    top: -268px;
    left: 10px;
    padding: 1px 12px;
    background-color: var(--color-light-green);
    border-radius: 3.5px;
    display: inline-block;
}

.rank-label p {
    margin: 0;
    color: var(--color-white);
}
