.cart-container {
  background-color: var(--color-gray-background);
}

#cart-header {
  background-color: var(--color-white);
  margin: 80px 0px 0px 0px;
  padding: 0px 5px 10px 5px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.479);
}

#cart-header p {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}

#cart-header .cart-select {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#cart-header .cart-select .select-all {
  display: flex;
  margin: 0px 0px 0px 8px;
  width: 20%;
  align-items: flex-start;
  justify-content: flex-start;
}

#cart-header .cart-select .select-all span {
  font-size: 11px;
  font-weight: 300;
  padding: 0px 5px;
}

.select-del {
  font-size: 11px;
  font-weight: 300;
}

.select-del a {
  padding: 0px 10px 0px 5px;
}

.select-del :nth-child(1) {
  border-right: 1px solid rgba(128, 128, 128, 0.381);
}

#cart-list {
  background-color: var(--color-white);
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.381);
}

#cart-list .select {
  width: 100%;
  box-shadow: 0px 2px 2px rgb(233, 233, 233);
}

#cart-list .select-items {
  display: inline-flex;
  justify-content: flex-start;
  padding: 0px 0px 10px 13px;
}

#cart-list .select-items span {
  font-size: 11px;
  font-weight: 300;
  padding:0px 5px;
  opacity: 70%;
}

.cart-product {
  display: flex;
  padding: 20px 13px;
  margin: 0px 0px 10px 0px;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-product .product-img {
  width: 25%;
  padding: 0px;
  border-radius: 10%;
}

.cart-product .item-info {
  display: flex;
  padding: 0px;
  margin: 0px 10px;
  justify-content: space-between;
}

.cart-product .item-info .name {
  margin: 0;
}

.cart-product .item-info .price{
  margin: 0;
  padding: 15px 0px;
  font-weight: 700;
}

.cart-product .close-icon{
  width: 10px;
  padding: 0px 0px 0px 70px;
}

#cart-list .count {
  text-align: left;
  line-height: 30px;
  height: 30px;
  margin: 0px 10px;
  background-color: var(--color-gray-background);
}

#cart-list .count p{
  padding: 0px 10px;
  color: var(--color-gray-text);
  font-size: 10px;
}

#cart-list .item-price {
  display:flex;
  margin:0px 12px;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

#cart-list .item-purchase {
  display: flex;
  margin: 0px 12px;
  height: 25px;
  justify-content: space-around;
  border: 1px solid rgba(128, 128, 128, 0.381);
}

#cart-list .item-purchase a{
  flex-grow: 1;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

#cart-list .item-purchase :nth-child(1){
  border-right: 1px solid rgba(128, 128, 128, 0.381);
}


#cart-list .item-purchase a:link{
  color: var(--color-gray-text);
  text-decoration: none;
}

#cart-list .item-purchase a:visited{
  color: var(--color-gray-text);
  text-decoration: none;
}

#total-cart-price {
  background-color: var(--color-white);
}

#total-cart-price .title-total-price{
  font-size: 15px;
  font-weight: 700;
  padding: 20px 0px 20px 0px;
}

#total-cart-price .prices{
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.381);
}

#total-cart-price .cart-price{
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

#total-cart-price .cart-price .price{
  font-size: 15px;
  font-weight: 700;
}

#total-cart-price .total-price{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

#total-cart-price .total-price .price{
  font-size: 20px;
  font-weight: 700;
}

#total-cart-price .total-price p{
  font-size: 15px;
}

#total-cart-price .notice {
  width: 100%;
  padding: 10px 0px 130px 0px;
}

#total-cart-price .notice-box {
  word-break: break-all;
  font-size: 12px;
  color: var(--color-gray-text);
  padding: 10px 15px;
  background-color: var(--color-gray-background);
}

.submit-container .submit-box {
  width: 90%;
  margin: 0px auto;
}

.submit-container .buttons{
  display: flex;
  justify-content: space-around;
}

.submit-container .cart-final{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-container .cart-final .price{
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}


.submit-container .buttons button {
  border-radius: 30px;
  width: 45%;
  height: 35px;
  background-color: var(--color-light-green);
  border: none;
  color: var(--color-white);
  margin: 15px 0;
  letter-spacing: -0.2px;
}

.submit-container .cart-final span {
  font-weight: 700;
  color: var(--color-light-green)
}