.event-info {
    margin-top: 125px !important;
}

section#event-info {
    padding: 0px;
    margin-bottom: 10px; /* common-section 덮어쓰기 */
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.product-item {
    margin: 10px;
}

.product-item .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#event-product {
    margin-bottom: 10px;
}

.product-item-name {
    font-size: 0.85rem;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.product-item-price {
    margin-top: 5px;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 1px;
}

details>summary {
    font-size: 15px;
    margin-top: 10px;
}

section.notice {
    border-top: 1px solid rgba(128, 128, 128, 0.499);
    margin: 0 20px;
}

details>p {
    font-size: 8px;
    opacity: 0.8;
    background-color: rgba(214, 214, 214, 0.337);
    padding: 10px;
}

section.notice details summary::-webkit-details-marker {
    display: none;
    background: url(/assets/images/icons/arrow-down-sign-to-navigate.png) center center no-repeat/cover;
}

section.notice details[open] summary::-webkit-details-marker {
    display: none;
    background: url(/assets/images/icons/arrow-down-sign-to-navigate.png) center center no-repeat/cover;
}
