.key-img {
    width: 80%;
}

.result {
    height: 80%;
    width: auto;
    margin-top: 40%;
    text-align: center;
}

.result p {
    font-size: 30px;
}

.user-info {
    color: var(--color-light-green);
}