#product-container {
  width: 100%;
  background-color: var(--color-gray-background);
}

#product-top {
  margin: 50px 0px 0px 0px;
  padding: 0px;
}

.product-info {
  background-color: var(--color-white);
}

#product-top .product-img img{
  max-width: 100%;
}

#product-top .product-info .product-name {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 20px;
}

#product-top .product-info .product-name p{
  font-size: 25px;
  max-width: 100%;
  font-weight: 700;
  padding : 15px 0px;
  margin: 0px;
}

#product-top .product-info .product-name .is-new{
  color: var(--color-light-green);
  font-size: 10px;
  margin: 0px 10px;
  font-weight: 200;
  vertical-align: super;
  font-style: oblique;
}

#product-top .product-info .product-name .share-icon img{
  width: 20px;
  height: 17px;
  opacity: 70%;
  margin: 30px 0px;
}

#product-top .product-info .description {
  font-size: 14px;
  margin: 0px 20px;
  color: var(--color-gray-text)
}

#product-top .product-info .price {
  font-size: 25px;
  font-weight: 700;
  padding: 25px 20px;
}

#product-top .notice {
  padding: 10px 20px;
}

#product-detail {
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 10px 0px;
  background-color: var(--color-white);
}

#product-detail p{
  padding: 25px;
  font-size: 20px;
  font-weight: 700;
}

#product-detail img{
  max-width: 100%;
}

.product-recommand {
  background-color: var(--color-white);
  height: 300px;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.product-recommand p{
  padding: 25px;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.detail-info {
  background-color: var(--color-white);
  padding: 0px 0px 100px 0px;
  margin: 0px;
}

.detail-info .nav-button{
  margin: 0px;
}

.detail-info .nav-button .nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.detail-info .nav-button button{
  /* font-family: 'Noto Sans KR', sans-serif; */
  width: 100%;
  margin: 0px 0px;
  padding: 5px 15px;
  border: 0px;
  background-color: transparent;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
}

.detail-info .nav-button img{
  align-items: end;
  width: 18px;
  height: 18px;
}

.detail-info .nav-button p{
  font-size: 15px;
  font-weight: 700;
}



/* 하단 고정 구매하기 버튼 -> 나중에 코드 수정 필요함*/
#purchase-button {
  background-color: var(--color-white);
  height: 90px;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  z-index: 100;
}

#purchase-button button{
  width: 80%;
  margin: 20px auto;
  display: block;
}

#purchase-button .toggle-icon{
  background-color: var(--color-gray-text);
  width: 40px;
  height: 5px;
  margin: 15px auto;
}


