.greeting .signup-info {
    font-weight: normal;
    line-height: 35px;
}

#agree-input {
    position: absolute;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    margin-top: 80px;
}

#agree-input input {
    margin: 10px 3px 15px 25px;
    vertical-align: middle;
}

#agree-input>input[type=checkbox] {
    transform : scale(1.2);
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid var(--color-gray-button);
}

input[type="checkbox"]:checked {
    background: var(--color-light-green);
    border: none;
}

#agree-input .advertising-info input[type=checkbox] {
    border: 1px solid var(--color-gray-button);
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 15%;
}

#agree-input .advertising-info input[type=checkbox]:checked {
    background-color: var(--color-light-green);
    background-image: url(https://blog.kakaocdn.net/dn/t7a2D/btrhtVgLYmG/dUxzAkBy9hIZ4gHmyllQrk/img.png);
}

/* 요소를 숨기는 class.
.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*체크를 안 했을 때*/
/* label::before{
	display: inline-block;
    content:"";
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--color-gray-button);
    /* background-image:url("체크 안된 상태의 이미지.png"); */
/* } */

/*체크했을 때*/
/* input:checked+.labl::before{
	background-image: url(/assets/images/icons/check_white.png);

} */

#agree-input #advertising-email {
    margin-left: 50px;
}

#agree-input p {
    padding-left: 50px;
    margin: 0;
    font-size: 0.8rem;
}