
#store-head {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#store-head .store-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 1rem;
  height: 50px;
  box-shadow: 0px 2px 2px rgb(228, 228, 228);
}

#store-head .store-header-top .menu-icon {
  width:30%;
}

#store-head .store-header-top h1 {
  font-size: 0.9rem;
  margin:0 auto;
}

#store-head .store-header-top h1 a:link{
  text-decoration: none;
  color: black;
}

#store-head .store-header-top h1 a:visited{
  color: black;
}

#store-head .store-header-top nav {
  width: 30%;
}

#store-head .store-header-top img {
  width: 1rem;
  height: auto;
  opacity: 0.5;
}

#store-head .store-header-top nav ul {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0px 0px 0px 15px;
  margin: 0px;
}

#store-head .store-header-top nav ul li {
  list-style: none;
  margin: 0px 8px;
}

#store-head .store-header-top nav ul li:last-child {
  margin-right: 0px;
}

/* 서브 헤더 */
#store-head .header-sub {
  border-bottom: 1px solid #e2e2e2;
  box-shadow: none;
}

#store-head .header-sub nav {
  display: flex;
}

#store-head .header-sub nav ul {
  justify-content: flex-start;
}

#store-head .header-sub nav ul li {
  padding: 20px 10px 20px 0px;
  text-align: center;
}

#store-head .header-sub nav ul li.active {
  padding: 20px 10px 20px 0px;
}

#store-head .header-sub nav ul li.fix {
  color: black;
  font-weight: bolder;
}

#store-head .header-sub nav ul li:first-child {
  padding-left: 10px;
}

#store-head .header-sub nav ul li a {
  font-size: 0.8rem;
}

#store-head .header-sub nav .cat-title {
  font-size: 0.8rem;
  padding: 3px 0px 0px 20px;
  width: 65px;
  text-align: left;
  font-weight: bolder;
}

.products-order {
  display: flex;
  margin: 10px;
  text-align: right;
  justify-content: right;
  align-items: center;
}

.products-order img{
  width: 10px;
  height: 10px;
  padding: 5px;
  opacity: 70%;
}