.contents-head img {
    width: 20px;
    height: auto;
    opacity: 0.5;
    padding: 20px 20px;
    margin: 10px 0px 10px 340px;
}

.contents-head h2{
    margin: 0px;
}

.contents-category {
    display: gird;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contents-head .contents-msg {
    margin: 0px 0px 30px 5px;
    border: thin
}

.contents-head .contents-msg .msg-title {
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 900;
}

hr.contents-line {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(180, 180, 180)
}