.submit-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e2e2e2;
  box-shadow: 0 -3px .3em 3px rgba(139, 139, 139, 0.08);
  background-color: var(--color-white);
}

.submit-container button {
  border-radius: 30px;
  width: 90%;
  height: 35px;
  background-color: var(--color-light-green);
  border: none;
  color: var(--color-white);
  margin: 15px 0;
  letter-spacing: -0.2px;
}