body {
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

section {
  margin-bottom: 20px;
  padding: 14px;
}


h1 {
  color : black;
}


.hide {
  opacity: 0;
}

.first-section {
  margin-top: 88px !important;
}

.first-section-sub-one {
  margin-top: 138px !important;
}

.back-button {
  width: 20px;
  height: auto;
  padding: 10px 7px;
  opacity: 0.5;
}


#starbucks-logo {
  width: 80px;
}

.no-border {
  border: none !important;
}

.margin-top-zero {
  margin-top: 0 !important;
}

.padding-top-zero {
  padding-top: 0 !important;
}