body {
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

section {
  margin-bottom: 20px;
  padding: 14px;
}


h1 {
  color : black;
}


.hide {
  opacity: 0;
}

.first-section {
  margin-top: 88px !important;
}

.first-section-sub-one {
  margin-top: 138px !important;
}

.back-button {
  width: 20px;
  height: auto;
  padding: 10px 7px;
  opacity: 0.5;
}


#starbucks-logo {
  width: 80px;
}

.submit-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e2e2e2;
  box-shadow: 0 -3px .3em 3px rgba(139, 139, 139, 0.08);
  background-color: var(--color-white);
}

.submit-container button {
  border-radius: 30px;
  width: 90%;
  height: 35px;
  background-color: var(--color-light-green);
  border: none;
  color: var(--color-white);
  margin: 15px 0;
  letter-spacing: -0.2px;
}

.no-border {
  border: none !important;
}

.margin-top-zero {
  margin-top: 0 !important;
}

.padding-top-zero {
  padding-top: 0 !important;
}