body {
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

section {
  margin-bottom: 20px;
}


h1 {
  color : black;
}


.hide {
  opacity: 0;
}

.first-section {
  margin-top: 88px !important;
}

.first-section-sub-one {
  margin-top: 138px !important;
}
